html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url(../img/galaxy.jpg);
  }
  .wrapper {
      width: 80%;
      margin: 0 auto;
      padding: 1em;
      display: flex;
      flex-flow: row nowrap;
      background-color: #efb106;
  }
  
  section {
      flex-basis: 57%;
      margin-right: 10%;
  }
  aside {
      flex-basis: 33%;
  }
  p{
      margin-bottom: 0;
      margin-top: 2rem;
  }
  fieldset{
      border: 1px solid black;
      border-radius: 10px;
      margin-bottom: 2rem;
  }
  legend{
      font-weight: bold;
      font-size: 1.3rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      display: block;
  }
  label{
      display: block;
  }
  textarea{
      height: 10rem;
      padding: 8rem;
  }
  select{
      font-size: 1rem;
  }
  button{
      font-size: 1rem;
      margin: 2rem 0;
      background-color: #bb342f;
      color: black;
      border: none;
      padding: 0.5rem 1rem ;
      border-radius: 10px;
  }
  button:hover{
      background-color: cornflowerblue;
  }
  input:not([type=radio]):not([type="checkbox"]),textarea{
      display: block;
      margin-bottom: 2rem;
      width: 20rem;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1 rem;
      padding: 0 2 rem;
      border-radius: 20px;
      border: none;
     }  